body{
font-family: monospace;
}

.school{
margin: 12px;
border: 4px solid black;
padding: 4px;
background-color: silver;
}

.work{
margin: 12px;
border: 4px solid black;
padding: 4px;
background-color: silver;
}

.links{
color: blue
}

.links ul{
  font-style: italic;
}

.Hobbies img{
  max-height: 500
  max-width: 500


}
